*{
	box-sizing: border-box;
}

.parent{
	width: 500px;
	height: 500px;
	background-color: rgb(252, 180, 72);
	background: linear-gradient(130deg,rgb(140, 0, 255),rgb(255, 38, 132),rgb(255, 200, 1));
	border-radius: 30%;
	margin: 50px auto;
	padding: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.child{
	width: 85%;
	height: 85%;
	border: 25px solid #fff;
	border-radius: 85px;
	background-color: rgba(240, 248, 255, 0);
	position: relative;
}
.child *{
	border-radius: 50%;
}

.child .circle1{
	position: absolute;
	top: 30px;
	right: 30px;
	width: 35px;
	height: 35px;
	background-color: #fff;
}

.child .circle2{
	width: 60%;
	height: 60%;
	border: 25px solid #fff;
	position: absolute;
	top: 20%;
	right: 20%;
}